* {
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
  color: rgb(2, 34, 54);
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 20px; */
  line-height: 1.6;
}

button {
  border: none;
  display: block;
  color: inherit;
  font: inherit;
  background-color: inherit;
  cursor: pointer;
}
.pages h1 {
  text-align: center;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgb(167, 202, 9);
}
button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
.smallerImage img {
  width: 150px;
  height: 150px;
}
.fa-lg {
  font-size: 80px;
  color: rgb(167, 202, 9);
}
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.link {
  background: #035c54;
  color: whitesmoke;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
}
.link:hover {
  color: #130218;
}

.list-item {
  display: flex;
  color: azure;
  margin: 5px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  flex-wrap: wrap;
}

.list-item button {
  margin-left: 4px;
}

.arrange {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.arrange a {
  margin: 8px;
}

@media (max-width: 767px) {
  .fa-lg {
    font-size: 50px;
  }
  .pages h1 {
    font-size: 20px;
  }
}
